{# books index display page#}

{% extends 'TestPublicationsBundle::layout.html.twig' %}

{% block body -%}
    <h1>Books list</h1>

    <div class="span12">

        {% for entity in entities %}
<div class="span4">
<ul class="grid cs-style-6">
    <li>
        <figure>
            <div><img src="{{entity.photurl}}" alt="img01"></div>
            <figcaption>
                <h4>{{ entity.title }}</h4>
                <span>{% if entity.pubyear %}{{ entity.pubyear }}{% endif %}, {{ entity.publisher }}, {{ entity.genre }}</span>
                <a href="{{ path('books_show', { 'id': entity.id }) }}"{% if entity.photurl != '' %}>Take a look{%endif%}</a>
            </figcaption>
        </figure>
    </li>
</ul>   
                <ul>
                    <li>
                        <a href="{{ path('books_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('books_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
    </div>
        {% endfor %}

        <ul>
        <li>
            <a href="{{ path('books_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
