{# books item display page#}

{% extends 'TestPublicationsBundle::layout.html.twig' %}

{% block sidebar -%}

<li>R</li>
<li>E</li>
<li>A</li>
<li>D</li>



  {% endblock %}


{% block content -%}
<div class="span4" id="show">
    <div class="row">
    <div><img class="img-polaroid" id="show" src="{{entity.photurl}}" alt="img01"></div>
    </div>
       {# <div class="row"><h3>{{ entity.title }}</h3></div>#}
       
        <div class="row"><p>{{ entity.blurb }}</p></div>
        
        <hr />
    
                <div class="row"><h5>Published by {{ entity.publisher }} in {% if entity.pubyear %}{{ entity.pubyear }}{% endif %}</h5></div>
   
                <div class="row"><p>Genre: {{ entity.genre }}</p></div>
</div>

        <ul class="record_actions">
    <li>
       
          <a style="margin-right:80px;" class="btn" href="http://www.amazon.com/Judith-Ortiz-Cofer/e/B001HCXY7Q">
            Purchase online
        </a>
        <a class="btn" href="{{ path('books') }}">
            Back to the list
        </a>

    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path('books_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('books_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endif %}
{% endblock %}
