<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="http://faviconist.com/icons/36412d2a44d524d73303b10367013343/favicon.ico" />

{% block javascripts %}

<script src="{{ asset('bundles/testhome/js/jquery-1.7.2.min.js') }}"></script>

<script src="{{ asset('bundles/testhome/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/testhome/js/jquery.form.js') }}"></script>{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/testhome/css/bootstrap.css') }}">

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/testhome/css/bootstrap-responsive.css') }}">

<link type="text/css" rel="stylesheet" href="{{ asset('bundles/testhome/css/local.css') }}">

<link href='http://fonts.googleapis.com/css?family=Cinzel|Cardo' rel='stylesheet' type='text/css'>
{% endblock %}

</head>

<body id="home">


<div class="container" id="center">

{%if block('sidebar') %}  

   <div class="span2 sidebar">  

    <ul class="nav nav-list" id="black">

   {{block('sidebar')}}

   </div>          


{% else %}

   {{block('body')}}


{% endif %}

<div class="span7">

<div class="container" id="home">  

<div id="title">

   {% block content %}          

   {% endblock %}                                          

</div>
</div>
</div>



</div>

</body>
</html>

