{# poems index display page #}

{% extends 'TestPublicationsBundle::layout.html.twig' %}

{% block sidebar -%}

<li>P</li>
<li>O</li>
<li>E</li>
<li>M</li>
<li>S</li>


  {% endblock %}


{% block content -%}


    <div class="container">

        {% for entity in entities %}
            <ul>
                <div class="span12">
		<h4>{{ entity.title }}</h4>
                <p>{{ entity.journal }}, {{ entity.pubyear }}</p>
		<a class="btn btn-small" href="{{ entity.url }}">read online</a>
		</div>
		</ul>
<div class="row">
<div class="span12">
                {% if is_granted('ROLE_ADMIN') %}
                <ul>
                    <li>
                        <a href="{{ path('poems_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('poems_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
{% endif %}
</div>
</div>
{% endfor %}
{% if is_granted('ROLE_ADMIN') %}
        <ul>
        <li>
            <a href="{{ path('poems_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endif %}
{% endblock %}
